.social-share-icons {
  display: inline-block;
}
.social-icon {
  margin-bottom: 16px;
  cursor: pointer;
}
.social-icon svg {
  transition: all 300ms ease-in-out;
}
.facebook svg {
  	fill: #1877F2;
}
.linkedin svg {
  fill: #0077B5;
}
.email svg,
.print svg {
  fill: #777;
}
.pinterest svg {
  fill: #E60023;
}
.reddit svg {
  fill: #FF4500;
}

.social-icon svg:hover {
  opacity: 0.8;
}
.mobile-social-share-icons {
    position: relative !important;
    top: 8px !important;
}
